In [1]:
import pandas as pd
import sqlite3

In [2]:
conn = sqlite3.connect('Supply_chain_db.db')


# Query to print out all table names in the SQLite database
query = "SELECT name FROM sqlite_master WHERE type='table';"
table_names_df = pd.read_sql_query(query, conn)

# Print the first 10 rows of each table
for table_name in table_names_df['name']:
    print(f"First 10 rows of table {table_name}:")
    query = f"SELECT * FROM `{table_name}` LIMIT 5;"
    df = pd.read_sql_query(query, conn)
    print(df)
    print("\n")

# Close the connection
conn.close()

First 10 rows of table projects:
   project_id     name                                description code  \
0         156  Redwing  Blurred Reality of Infinite Possibilities   MJ

                                       Project Title
0  Redwing :: Blurred Reality of Infinite Possibi...


First 10 rows of table wbs:
      id  project_id  level code      description      wbs_string  \
0  10146         156      1   MJ          Redwing              MJ
1  10147         156      2  RAY        Menomonie          MJ-RAY
2  10148         156      3  RRH       Forest Run      MJ-RAY-RRH
3  10149         156      4  FAE          Waywood  MJ-RAY-RRH-FAE
4  10150         156      4  PCA  Clyde Gallagher  MJ-RAY-RRH-PCA

  parent_string  parent_id               WBS Title wbs.1 wbs.2 wbs.3 wbs.4  \
0          None        NaN           MJ :: Redwing    MJ  None  None  None
1            MJ    10146.0        RAY :: Menomonie    MJ   RAY  None  None
2        MJ-RAY    10147.0       RRH :: Forest Run    MJ   RAY   RRH  None
3    MJ-RAY-RRH    10148.0          FAE :: Waywood    MJ   RAY   RRH   FAE
4    MJ-RAY-RRH    10148.0  PCA :: Clyde Gallagher    MJ   RAY   RRH   PCA

  wbs.5 wbs.6 wbs.7 wbs.8
0  None  None  None  None
1  None  None  None  None
2  None  None  None  None
3  None  None  None  None
4  None  None  None  None


First 10 rows of table warehouse:
   warehouse_id          warehouse_name warehouse_address warehouse_code  \
0           154      Glittering Meadows              None          GLITR
1           141  Quantum Nexus Junction              None          QNTMC
2           149          Nebula Heights              None          NEBLU
3           129        Enchanted Lagoon              None          ENCHT
4           128          Pixel Pinnacle              None          PXLPX

          warehouse_company   contact_phone contact_name         manager  \
0  QuantumCraft Innovations  (123) 456-7890         None    Alex Quantum
1  QuantumCraft Innovations  (123) 456-7890         None    Alex Quantum
2  QuantumCraft Innovations  (123) 456-7890         None    Alex Quantum
3  QuantumCraft Innovations  (123) 456-7890         None    Alex Quantum
4  NebulaNexus Technologies  (234) 567-8901         None  Nova Starlight

           contact_email  project_id       addr_address1 addr_address2  \
0  alex@quantumcraft.com         156  123 Quantum Street          None
1  alex@quantumcraft.com         156  123 Quantum Street          None
2  alex@quantumcraft.com         156  123 Quantum Street          None
3  alex@quantumcraft.com         156  123 Quantum Street          None
4  nova@nebulanexus.tech         156   456 Nebula Avenue          None

       addr_suburb addr_state  addr_postcode addr_country  \
0    Innovate City        QLD         4000.0    Australia
1    Innovate City        QLD         4000.0    Australia
2    Innovate City        QLD         4000.0    Australia
3    Innovate City        QLD         4000.0    Australia
4  Techno District        NSW         2000.0    Australia

        warehouse_type                  Warehouse Title  latitude  longitude
0  Digital Visionaries      GLITR :: Glittering Meadows   -27.468    153.028
1  Innovation Pioneers  QNTMC :: Quantum Nexus Junction   -33.868    151.209
2  Digital Visionaries          NEBLU :: Nebula Heights   -37.813    144.963
3  Innovation Pioneers        ENCHT :: Enchanted Lagoon   -31.950    115.860
4         Tech Wizards          PXLPX :: Pixel Pinnacle   -35.280    149.130


First 10 rows of table commodity:
   commodity_id commodity_description commodity_parent_id  pgmemento_audit_id  \
0           280       Turbojet Engine                None              222953
1           281    AeroFrame Material                None              222955
2           282        NavTech System                None              222957
3           283    Quantum Fuel Cells                None              222959
4           284  AeroPlasma Thrusters                None              222961

  commodity_code supplier_part_number  project_id  unit_of_measure_id  \
0         AER001                 None         156                  32
1         COM002                 None         156                  32
2         ELE003                 None         156                  32
3         QUM004                 None         156                  32
4         PLA005                 None         156                  32

                              engineered_description     material_type_1  \
0  High-performance propulsion system designed fo...     Aerospace Alloy
1  Advanced lightweight composite material for st...  Composite Material
2  Integrated navigation system utilizing quantum...          Electronic
3  Next-generation fuel cells employing stable qu...    Quantum Material
4  Plasma-based thrusters for rapid and efficient...   Plasma Technology

  material_type_2 material_type_3 uom_conversion_1 uom_conversionrate_1  \
0            Each            None             None                 None
1    Square Meter            None             None                 None
2            Each            None             None                 None
3          Gallon            None             None                 None
4             Set            None             None                 None

  uom_conversion_2 uom_conversionrate_2 datasheet_specification  \
0             None                 None                    None
1             None                 None                    None
2             None                 None                    None
3             None                 None                    None
4             None                 None                    None

  manufacturer_part_number alternate_engineered_code decimal_allowed  \
0                     None                      None            None
1                     None                      None            None
2                     None                      None            None
3                     None                      None            None
4                     None                      None            None

  item_id_unique    record
0           280c  [Record]
1           281c  [Record]
2           282c  [Record]
3           283c  [Record]
4           284c  [Record]


First 10 rows of table equipment:
   equipment_id                              equipment_description  \
0          4203  Centralized system management hub for seamless...
1          4197  Centralized system management hub for seamless...
2          4198  Centralized system management hub for seamless...
3          4199  Centralized system management hub for seamless...
4          4200  Centralized system management hub for seamless...

  equipment_parent_id  pgmemento_audit_id equipment_tagid equipment_quantity  \
0                None              223070           CD001               None
1                None              223058           CD011               None
2                None              223060           CD021               None
3                None              223062           CD031               None
4                None              223064           CD041               None

  group_code product_type  project_id  unit_of_measure_id  \
0       None         None         156                  31
1       None         None         156                  31
2       None         None         156                  31
3       None         None         156                  31
4       None         None         156                  31

  engineered_description engineering_id material_type_1 material_type_2  \
0                   None             CD  Control Device            None
1                   None             CD  Control Device            None
2                   None             CD  Control Device            None
3                   None             CD  Control Device            None
4                   None             CD  Control Device            None

  material_type_3 datasheet_specification manufacturer_part_number  \
0            None                    None                     None
1            None                    None                     None
2            None                    None                     None
3            None                    None                     None
4            None                    None                     None

  manufacturer_serial_no alternate_engineered_code  \
0                   None                      None
1                   None                      None
2                   None                      None
3                   None                      None
4                   None                      None

                       package_no po_no item_id_unique  \
0  Control and Management Systems  None          4203e
1  Control and Management Systems  None          4197e
2  Control and Management Systems  None          4198e
3  Control and Management Systems  None          4199e
4  Control and Management Systems  None          4200e

   unit_of_measure_id_calc    record
0                       31  [Record]
1                       31  [Record]
2                       31  [Record]
3                       31  [Record]
4                       31  [Record]


First 10 rows of table units_of_measurement:
   id  project_id    name plural_name symbol     UoM Title
0  31         156    each        each     ea     ea (each)
1  32         156   metre      metres      m     m (metre)
2  33         156     ton        tons      t       t (ton)
3  34         156  length     lengths    len  len (length)
4  35         156     lot         lot    lot     lot (lot)


First 10 rows of table items:
  item_description_short item_parent_id item_code  project_id  \
0        Turbojet Engine           None    AER001         156
1     AeroFrame Material           None    COM002         156
2         NavTech System           None    ELE003         156
3     Quantum Fuel Cells           None    QUM004         156
4   AeroPlasma Thrusters           None    PLA005         156

  item_description_engineering       material_type  datasheet_specification  \
0              Turbojet Engine     Aerospace Alloy                        0
1           AeroFrame Material  Composite Material                        0
2               NavTech System          Electronic                        0
3           Quantum Fuel Cells    Quantum Material                        0
4         AeroPlasma Thrusters   Plasma Technology                        0

   manufacturer_part_number  alternate_engineered_code item_id_unique  \
0                         0                          0           280c
1                         0                          0           281c
2                         0                          0           282c
3                         0                          0           283c
4                         0                          0           284c

   unit_of_measure_id  item_type                      Item Title  uom.id  \
0                  32  Commodity       AER001 :: Turbojet Engine      32
1                  32  Commodity    COM002 :: AeroFrame Material      32
2                  32  Commodity        ELE003 :: NavTech System      32
3                  32  Commodity    QUM004 :: Quantum Fuel Cells      32
4                  32  Commodity  PLA005 :: AeroPlasma Thrusters      32

  uom.name uom.plural_name uom.symbol uom.UoM Title  __QTY MULTIPLE  \
0    metre          metres     metres     m (metre)               5
1    metre          metres     metres     m (metre)               4
2    metre          metres     metres     m (metre)               5
3    metre          metres     metres     m (metre)               3
4    metre          metres     metres     m (metre)               4

   __PRICE MULTIPLE
0               2.9
1               1.9
2               2.3
3               3.2
4               3.3


First 10 rows of table items_(2):
                             item_description_short item_parent_id item_code  \
0  RAIL LENGTH - SC, 60KG, UNDRILLED, RT23 - 12.19M           None    RAL001
1  RAIL LENGTH - SC, 60KG, UNDRILLED, RT23 - 13.72M           None    RAL002
2   RAIL LENGTH - SC, 60KG, UNDRILLED, RT23 - 27.5M           None    RAL003
3  RAIL LENGTH - TR, 60KG, UNDRILLED, RT28 - 12.19M           None    RAL004
4  RAIL LENGTH - TR, 60KG, UNDRILLED, RT28 - 13.72M           None    RAL005

   project_id                       item_description_engineering  \
0         156  RAIL LENGTH - STANDARD CARBON, 60KG PROFILE, U...
1         156  RAIL LENGTH - STANDARD CARBON, 60KG PROFILE, U...
2         156  RAIL LENGTH - STANDARD CARBON, 60KG PROFILE, U...
3         156  RAIL LENGTH - STANDARD CARBON, 60KG TANGENT PR...
4         156  RAIL LENGTH - STANDARD CARBON, 60KG TANGENT PR...

  material_type                   datasheet_specification  \
0          Rail  Liberty Primary Steel Specification RT23
1          Rail  Liberty Primary Steel Specification RT23
2          Rail  Liberty Primary Steel Specification RT23
3          Rail  Liberty Primary Steel Specification RT28
4          Rail  Liberty Primary Steel Specification RT28

  manufacturer_part_number alternate_engineered_code item_id_unique  \
0                     None                 001626084           280c
1                     None                 001337179           281c
2                     None                 002000132           282c
3                     None                      None           283c
4                     None                 002002833           284c

   unit_of_measure_id  item_type  \
0                  32  Commodity
1                  32  Commodity
2                  32  Commodity
3                  32  Commodity
4                  32  Commodity

                                          Item Title  uom.id uom.name  \
0  RAL001 :: RAIL LENGTH - SC, 60KG, UNDRILLED, R...      32    metre
1  RAL002 :: RAIL LENGTH - SC, 60KG, UNDRILLED, R...      32    metre
2  RAL003 :: RAIL LENGTH - SC, 60KG, UNDRILLED, R...      32    metre
3  RAL004 :: RAIL LENGTH - TR, 60KG, UNDRILLED, R...      32    metre
4  RAL005 :: RAIL LENGTH - TR, 60KG, UNDRILLED, R...      32    metre

  uom.plural_name uom.symbol uom.UoM Title
0          metres          m     m (metre)
1          metres          m     m (metre)
2          metres          m     m (metre)
3          metres          m     m (metre)
4          metres          m     m (metre)


First 10 rows of table inco_terms:
  code          description                  INCO Title
0  EXW             Ex Works             EXW :: Ex Works
1  FCA         Free Carrier         FCA :: Free Carrier
2  FAS  Free Alongside Ship  FAS :: Free Alongside Ship
3  FOB        Free On Board        FOB :: Free On Board
4  CFR     Cost and Freight     CFR :: Cost and Freight


First 10 rows of table supplier:
   supplier_id             supplier_name  \
0           31     QuantumMat Industries
1           32       OmniAlloy Solutions
2           33    StellarComposites Ltd.
3           34       TechSynth Materials
4           37  AeroNanoTech Innovations

                                supplier_description
0         Specializes in advanced quantum materials.
1       Supplier of innovative and versatile alloys.
2  Leading provider of advanced composite materials.
3         Supplies cutting-edge synthetic materials.
4     Specialized in nanotechnology-based materials.


First 10 rows of table purchaseorder:
   purchaseorder_id purchaseorder_displayed_id  \
0             10210                      PO001
1             10228                      PO002
2             10194                      PO003
3             10232                      PO004
4             10197                      PO005

                                    description  revision  supplier_id  \
0            Quantum Mat for Quantum Resonators         0           31
1        OmniAlloy for Advanced Alloy Materials         0           32
2  StellarComposites for Lightweight Composites         0           33
3  TechSynth Materials for Synthesized Polymers         0           34
4           AeroNanoTech for Nanotech Materials         0           37

                status inco_terms_code           award_date  \
0    partially-shipped             DAP  2020-03-15 00:00:00
1  partially-delivered             DAP  2020-06-22 00:00:00
2    partially-shipped             DAP  2020-09-10 00:00:00
3    partially-shipped             DAP  2020-11-28 00:00:00
4    partially-shipped             DAP  2021-02-14 00:00:00

  required_on_site_date  project_id  \
0                  None         156
1                  None         156
2                  None         156
3                  None         156
4                  None         156

                                Purchase Order Title
0        PO001 :: Quantum Mat for Quantum Resonators
1    PO002 :: OmniAlloy for Advanced Alloy Materials
2  PO003 :: StellarComposites for Lightweight Com...
3  PO004 :: TechSynth Materials for Synthesized P...
4       PO005 :: AeroNanoTech for Nanotech Materials


First 10 rows of table purchaseorder_lineitem:
   purchaseorder_item_id purchaseorder_item_description  purchaseorder_id  \
0                  20786                          Q.3.2             10205
1                  20168                            1.0             10191
2                  20169                            2.0             10191
3                  20170                            3.0             10191
4                  20171                            4.0             10191

   quantity    unit_rate  wbs_id  laydown_id  parent_id  project_id  \
0       4.0  159869.6000   10204         NaN    20415.0         156
1   52800.0     174.7356   10175       131.0        NaN         156
2   79200.0     174.7356   10175       131.0        NaN         156
3  105600.0     174.7356   10175       131.0        NaN         156
4  105600.0     174.7356   10175       131.0        NaN         156

         contract_date  fxChildrenQty  total_value item_id_unique
0  2023-11-19 00:00:00              0    639478.40           299c
1  2024-05-12 00:00:00              5   9226039.68           282c
2  2024-06-12 00:00:00              4  13839059.52           282c
3  2024-07-13 00:00:00              5  18452079.36           282c
4  2024-08-10 00:00:00              8  18452079.36           282c


First 10 rows of table shippingcontrolnumber:
               shippingcontrolnumber_id shippingcontrolnumber_text_id  \
0  58b3b3b9-73d9-4b5b-b449-69ed90b43ee8                PO008-SCN-0035
1  329fe0b9-60e5-446a-b12e-d92dfa663494                PO016-SCN-0014
2  5a3db082-cb35-4fb9-8cc1-3a9a8c2c6e26                PO016-SCN-0007
3  8e6eb12f-33d2-4654-a432-b1649bf924b2                PO005-SCN-0008
4  3ea9d3f1-ead5-4ae7-9b70-7043636c2e03                PO003-SCN-0006

   warehouse_id  project_id                  created_at  form  \
0           131         156  2026-01-06 03:32:12.790000  None
1           129         156  2029-01-04 05:28:36.683000  None
2           129         156  2029-01-03 06:21:04.066000  None
3           157         156  2025-03-24 00:02:48.339000  None
4           139         156  2024-10-24 00:02:26.089000  None

                                     scn_description  purchaseorder_id  \
0  Airlift of Quantum Computing Lab Equipment - D...             10198
1  Shipping of High-Speed Magnetic Levitation Tra...             10190
2  Rail Freight for Advanced Aircraft Prototype A...             10190
3  Trucking of Innovative Energy Converter System...             10197
4  Pipeline Transport for Space Exploration Rover...             10194

  transport_method      collection_date        delivery_date scn_number_short  \
0            train  2022-04-19 00:00:00  2022-04-19 00:00:00         SCN-0035
1            train  2024-06-12 00:00:00  2024-06-12 00:00:00         SCN-0014
2            train  2024-03-20 00:00:00  2024-03-20 00:00:00         SCN-0007

### Read WBS

In [1]:
wbs_data = [
    "MJ-VQP-UDS-GEBR-JL",
    "MJ-VQP-UDS-LMOL",
    "MJ-VQP-UDS-LMOL-SZJ",
    "MJ-VQP-UDS-LMOL-EE",
    "MJ-VQP-UDS-DRE",
    "MJ-VQP-UMN",
    "MJ-VQP-UMN-ZPH",
    "MJ-VQP-UMN-ZPH-ZV",
    "MJ-CHP",
    "MJ-CHP-KYU",
    "MJ-CHP-KYU-IMN"
]

In [2]:
from collections import defaultdict

def insert_into_tree(tree, path):
    current = tree
    for part in path:
        if part not in current:
            current[part] = {}
        current = current[part]

def build_tree(wbs_data):
    tree = {}
    for item in wbs_data:
        parts = item.split("-")
        insert_into_tree(tree, parts)
    return tree

def tree_to_dict(tree, name):
    # Convert nested dictionary to a format that can be used with visualization tools
    return {
        "name": name,
        "children": [tree_to_dict(subtree, subname) for subname, subtree in tree.items()] if tree else []
    }

# Build the tree from WBS data
tree_structure = build_tree(wbs_data)

# Convert tree to dictionary for visualization
visual_tree_structure = tree_to_dict(tree_structure, "root")
print(visual_tree_structure)

{'name': 'root', 'children': [{'name': 'MJ', 'children': [{'name': 'VQP', 'children': [{'name': 'UDS', 'children': [{'name': 'GEBR', 'children': [{'name': 'JL', 'children': []}]}, {'name': 'LMOL', 'children': [{'name': 'SZJ', 'children': []}, {'name': 'EE', 'children': []}]}, {'name': 'DRE', 'children': []}]}, {'name': 'UMN', 'children': [{'name': 'ZPH', 'children': [{'name': 'ZV', 'children': []}]}]}]}, {'name': 'CHP', 'children': [{'name': 'KYU', 'children': [{'name': 'IMN', 'children': []}]}]}]}]}

In [3]:
wbs_formatted = pd.read_csv('../data/wbs_source_formatted.csv')
display(wbs_formatted.columns)

Index(['L3', 'L3 Desc', 'L4', 'L4 Desc', 'L5', 'Item', 'Description', 'Level',
       'Responsible (From OBS)', 'Commentary', 'Unnamed: 10', 'wbs-code',
       'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14'],
      dtype='object')

In [16]:
# Import necessary libraries
import pandas as pd
import sqlite3

# Function to create the SQLite database table for Groups
def create_groups_table(dbname):
    with sqlite3.connect(dbname) as conn:
        cursor = conn.cursor()
        cursor.execute('''
        CREATE TABLE IF NOT EXISTS Groups (
            group_id TEXT PRIMARY KEY,
            group_description TEXT
        )
        ''')
        print("Table Groups created successfully.")

def insert_group_data(dataframe, dbname):
    try:
        with sqlite3.connect(dbname) as conn:
            cursor = conn.cursor()
            # Use UPSERT to insert or update existing records
            for _, row in dataframe.iterrows():
                cursor.execute('''
                INSERT INTO Groups (group_id, group_description)
                VALUES (?, ?)
                ON CONFLICT(group_id) DO UPDATE SET
                group_description = excluded.group_description;
                ''', (row['Group ID'], row['Group Description']))
            conn.commit()
            print("Data inserted or updated successfully.")
    except sqlite3.Error as e:
        print(f"An error occurred while inserting or updating data: {e}")


# Function to read the Excel file and populate the database
def read_excel_and_populate_db(filepath, dbname):
    xls = pd.ExcelFile(filepath)
    for sheet_name in xls.sheet_names:
        df = pd.read_excel(xls, sheet_name=sheet_name)
        print(f"Processing sheet: {sheet_name} with columns: {df.columns}")
        insert_group_data(df, dbname)
    print("Database populated successfully from all sheets.")

# Function to display the contents of the Groups database table
def print_table_contents(dbname):
    with sqlite3.connect(dbname) as conn:
        cursor = conn.cursor()
        cursor.execute("SELECT * FROM Groups")
        rows = cursor.fetchall()
        print("Contents of Groups table:")
        for row in rows:
            print(row)

In [6]:
xls = pd.ExcelFile(excel_path)
for sheet_name in xls.sheet_names:
    df = pd.read_excel(xls, sheet_name=sheet_name)
    print(f"Processing sheet: {sheet_name} with columns: {df.columns}")
    display(df.head())

Processing sheet: L0 - Program with columns: Index(['Group ID', 'Group Description'], dtype='object')

  Group ID Group Description
0       QH    QLD Hydro PHES

Processing sheet: L1 - Projects with columns: Index(['Group ID', 'Group Description'], dtype='object')

  Group ID      Group Description
0       BR           Borumba PHES
1       PB  Pioneer-Burdekin PHES
2       QH    Program / Corporate

Processing sheet: L2 - Phases with columns: Index(['Group ID', 'Group Description'], dtype='object')

  Group ID                 Group Description
0       P0                           Program
1       P1               Feasibility Studies
2       P2            Options Analysis & DAR
3       P3  Design Development & Procurement
4       P4                          Delivery

Processing sheet: L3 - Area with columns: Index(['Group ID', 'Group Description'], dtype='object')

  Group ID                     Group Description
0       A1                              QH Costs
1       A2  Surface Infrastructure and Enabling
2       A3                Underground Waterways
3       A4         Underground Access & Caverns
4       A5                Powerhouse Mech & Elec

Processing sheet: L3-L4 - Element with columns: Index(['Group ID', 'Group Description'], dtype='object')

  Group ID                       Group Description
0    A1-10                     QH Delivery (Staff)
1    A1-20                     Project Contractors
2    A1-30                            Engineering
3    A1-40               Environment and Approvals
4    A1-50  Community Development and Stakeholder

Processing sheet: L3-L5 - Sub Element  with columns: Index(['Group ID', 'Group Description '], dtype='object')

    Group ID             Group Description
0  A1-10-010                Project (Staff)
1  A1-10-020            Commercial  (Staff)
2  A1-10-030  Engineering Assurance (Staff)
3  A1-10-040        Health & Safety (Staff)
4  A1-10-050       Project Controls (Staff)

In [20]:
# Specify your database name and Excel file path
database_name = 'wbs.db'
excel_path = '../data/wbs_code_final.xlsx'  # Make sure to provide the correct path

# Create table, populate the database, and print contents
create_table(database_name)
read_excel_and_populate_db(excel_path, database_name)

Table WBS_Elements created successfully.
Processing sheet: L0 - Program with columns: Index(['Group ID', 'Group Description'], dtype='object')
An error occurred while inserting or updating data: no such table: Groups
Processing sheet: L1 - Projects with columns: Index(['Group ID', 'Group Description'], dtype='object')
An error occurred while inserting or updating data: no such table: Groups
Processing sheet: L2 - Phases with columns: Index(['Group ID', 'Group Description'], dtype='object')
An error occurred while inserting or updating data: no such table: Groups
Processing sheet: L3 - Area with columns: Index(['Group ID', 'Group Description'], dtype='object')
An error occurred while inserting or updating data: no such table: Groups
Processing sheet: L3-L4 - Element with columns: Index(['Group ID', 'Group Description'], dtype='object')
An error occurred while inserting or updating data: no such table: Groups
Processing sheet: L3-L5 - Sub Element  with columns: Index(['Group ID', 'Group Description'], dtype='object')
An error occurred while inserting or updating data: no such table: Groups
Database populated successfully from all sheets.

In [21]:
print_table_contents(database_name)

OperationalError: no such table: Groups